.grid {
  text-align: center;
  padding-bottom: 16px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-container {
  display: flex;
  justify-content: center;
}

.button-container {
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
}

.button-stack {
  max-width: 500px;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .link {
    width: 100%;
  }
}